@model RegistrationModel
@{
    ViewData["Title"] = "Registration Page";
}

<form asp-action="RegistrationPostAsync" asp-controller="Registration" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div>
        <label asp-for="Remember"></label>
        <input asp-for="Remember" />
        <span asp-validation-for="Remember" ></span>
    </div>
    <input type="submit" />
</form>